# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/
reports/

# production
build/
dist/
temp/
dev-dist/

# ai
TASKS.md
.claude/plans/
.superpowers/

# misc
Desktop.ini
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

.eslintcache

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
